<div class="sec2-main">

    <!-- banner heading -->
    <div class="banner-content">
        <div class="container-fluid">
            <div class="px-5">
                <div class="hero-bottom-content text-center bg-white mx-5">
                    <h3>
                        Die Haftpflichtversicherung fur Berufseinsteiger
                    </h3>
                    <p>
                        Unbeschwert das Leben genieBen
                    </p>
                    <a class="h-btn">
                      Meinen Preis berechnen
                    </a>

                    <div class="circle-price">
                        <div class="circle-text">
                            <h6>ab</h6>
                            <h5>2,58 €</h5>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- banner heading -->


    <!-- Sec two -->
    <div class="container-fluid sec-inner">
        <div class="px-5">
        <div class="row px-5">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h3>
                    Du haftest? Wir zahlen.
                </h3>
                <p>
                    Laptop Deines Kollegen runtergeschmissen? Büroschlüssel verloren?
                    Ein kleines Missgeschick kann schnell teuer werden. Wir helfen Dir
                    dabei, dass aus einem kleinen Versehen keine große Sache wird.
                    Beim BGV genießt Du einen umfassenden Versicherungsschutz und bist
                    gegen <b>alles abgesichert</b> was im <b>Büroalltag</b> so schief gehen kann.
                </p>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
                <div>
                    <img class="" src="../../assets/images/img-1.png" alt="">
                </div>
            </div>
        </div>
        </div>

    </div>
      <!-- Sec two -->
</div>
