.header {
  padding: 20px 0 0 0;
  .row{
    align-items: center;
  }
  .header-logo{
    width: 100px;
    position: relative;
    bottom: 10px;
  }
  .header__right{
    float: right;
    .header__ul {
      list-style: none;
      padding-left: 0;
      .header__li {
        display: inline-block;
        .header__li-btn {
          background: #45b491;
          padding: 10px 10px;
          border-radius: 5px;
          color: #ffffff;
          font-size: 20px;
        }
        .header__li-link{
          color: #45b491;
          font-size: 20px;
        }
        .header__li-icon{
          width: 20px;
          position: relative;
          bottom: 2px;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .header {
    .px-5{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

@media (max-width: 767px) {
  .header__right {
    .header__ul {
      display: table;
      text-align: right !important;
      .header__li {
        display: block;
        &.header__li--mod {
          display: table-footer-group !important;
        }
        .header__li-icon{
          display: none;
        }
        .header__li-btn{
          background: none !important;
          color: #1E3282 !important;
          padding: 5px 0 0 0 !important;
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .header-logo{
    width: 100px;
  }
}
