.sectionThree {
  padding: 60px 0 70px 0;
  h2 {
    font-size: 40px;
    color: #1E3282;
  }
  h3 {
    font-size: 25px;
    color: #1E3282;
  }
  .sectionThree__box-item {
    border: 5px solid #EBEFF9;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      h3 {
        font-weight: 500;
        color: #707070 !important;
      }
      p {
        font-weight: 500;
        color: #707070 !important;
      }
    }
    .boxItem__content {
      p {
        font-size: 20px;
        color: #1E3282;
        line-height: 25px;
      }
    }
  }
}


@media (max-width: 479px) {
  .sectionThree {
    padding: 0 0 70px 0;
    h2 {
      font-size: 20px;
      &.pb-5 {
        padding-bottom: 1rem !important;
      }
    }
    .sectionThree__box {
      padding: 0;
      .sectionThree__box-item{
        display: flex;
        align-items: center;
        grid-gap:5px;
        text-align: left;
        padding: 10px 10px 10px 0;
        img {
          width: 80px;
        }
      }
    }
  }

  .boxItem__content {
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
      line-height: 15px;
    }
  }
}
