<!-- Services-->
<section class="sec-main" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0 pb-5 pt-5">
            Schnell. Flexibel. Sicher.
        </h2>
        <div class="row gx-4 gx-lg-5 row-mian">
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 text-center mb-3 services-c">
                    <div class="mt-2 services-col">
                        <div class="img-wrap">
                            <img src="../../assets/images/img-2.png" alt="img">
                        </div>
                        <div class="col-inner">
                            <h3 class="h4 mb-2">3 Min.</h3>
                            <p class="sec3-para mb-0 pb-2">
                                Schneller als eine Fünf-Minuten-Terrine: Hier schließt Du 
                                Deinen Vertrag in nur 3 Minuten online ab. Du bei uns jedes Jahr kündigen.
                            </p>
                        </div>
                        
                    </div>
                
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12  text-center mb-3 services-c">
                    <div class="mt-2 services-col">
                        <div class="img-wrap">
                            <img src="../../assets/images/img-3.png" alt="img">
                        </div>
                        <div class="col-inner">
                            <h3 class="h4 mb-2">Jährlich kündbar</h3>
                            <p class="sec3-para mb-0 pb-2">
                                Transparente und flexible 
                                Vertragslaufzeiten: Deine PHV kannst 
                                Du bei uns jedes Jahr kündigen.
                            </p>
                        </div>
                        
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 text-center services-c">
                    <div class="mt-2 services-col">
                    <div class="img-wrap">
                        <img src="../../assets/images/img-4.png" alt="img">
                    </div>
                    <div class="col-inner">
                        <h3 class="h4 mb-2">0% Selbstbeteiligung</h3>
                        <p class="sec3-para mb-0 pb-2">
                            Keine versteckten Kosten: keine Eigenleistung
                            bis zur maximalen Deckungssumme. Du bei uns jedes Jahr kündigen.

                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

