<div class="sec4-main">
    <div class="text-center pb-4">
        <h3>
            Kostet nicht die Welt. Aber schützt Deine.
        </h3>
    </div>
    <div class="container">

        <!-- top area -->
        <div class="row text-center pb-4">
            <div class="col-md-6 col-sm-6 col-6">
                <h5>
                    Woran Du vielleicht denkst
                </h5>
                <p>
                    (kleine Schäden)
                </p>
                <img class="" src="../../assets/images/img-5.png" alt="">
                <h6>
                    Abgesichert!
                </h6>
            </div>
            <div class="col-md-6 col-sm-6 col-4">
                <h5>
                    Woran Du vielleicht nicht denkst
                </h5>
                <p>
                    (große Schäden)
                </p>
                <img class="" src="../../assets/images/img-6.png" alt="">
                <h6>
                    Auch abgesichert!
                </h6>
            </div>
        </div>
        <!-- top area -->


        <!-- bottom area -->
        <div class="bottom-area bg-white">
            <div class="row">
                <div class="col-sm-6 col-8">
                    <p class="b-para">Unsere Kunden zahlen im Schnitt:</p>
                </div>
                <div class="col-sm-3 col-4 sec-b">
                   <h4>
                        4,14 €
                   </h4>
                   <h5>
                        pro Monat
                   </h5>
                </div>
                <div class="col-sm-3 col-4">
                    <a>
                        Meinen Preis berechnen
                    </a>
                </div>
            </div>
        </div>
        <!-- bottom area -->
      </div>
    </div>


