.sec4-main{
    background: #EBEFF9;
    padding: 90px 0 50px 0;
}
.sec4-main h3{
    font-size: 40px;
    color: #1E3282;
}
.sec4-main h5{
    font-size: 25px;
    color: #1E3282;
}
.sec4-main p{
    font-size: 20px;
    color: #1E3282;
}
.bottom-area {
    padding: 0 20px;
}