.sectionTwo{
  background: #EBEFF9;
  padding-bottom: 30px;
  .sectionTwo__banner{
    position: relative;
    bottom: 150px;
  }
}
.sectionTwo__banner-content {
  padding: 20px 0 20px 0;
  border-radius: 10px;
  position: relative;
  h3{
    font-size: 58px;
    color: #1E3282;
    margin: 0;
  }
  p{
    font-size: 25px;
    color: #1E3282;
  }
  a{
    background: #45b491;
    padding: 10px 10px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
  }
}
.sectionTwo__banner-circle{
  background: #F59114;
  width: 140px;
  height: 140px;
  border-radius:50% ;
  position: absolute;
  right: -60px;
  top: -112px;
  opacity: 0.9;
  h6{
    color: #ffffff;
    font-size: 25px;
    margin: 0;
  }
  h5{
    color: #ffffff;
    font-size: 35px;
  }
  .circle-text{
    transform: rotate(45deg);
    padding: 20px 0 0 30px;
  }
}

/* sec two */
.sectionTwo__inner {
  h3 {
    font-size: 40px;
    color: #1E3282;
  }
}
p {
  font-size: 20px;
  color: #1E3282;
  line-height: 25px;
}

@media (max-width: 1440px) {
  .sectionTwo__banner-content {
    h3 {
      font-size: 50px;
    }
  }
}

@media (max-width: 1200px) {
  .sectionTwo__banner-content {
    h3 {
      font-size: 40px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 1024px) {
  .sectionTwo__banner-content {
    h3 {
      font-size: 30px;
    }
  }
  .sectionTwo__banner {
    bottom: 115px;
  }
}


@media (max-width: 991px) {
  .sectionTwo__inner{
    text-align: center;
  }
}

@media (max-width: 767px) {
  .sectionTwo__banner-content {
    h3 {
      font-size: 22px;
    }
    &.mx-5 {
      margin-left: 0rem!important;
      margin-right: 0rem!important;
    }
  }
  .sectionTwo__inner {
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
    .px-5 {
      padding-right: 0rem!important;
      padding-left: 0rem!important;
    }
    img {
      width: 90%;
    }
  }
  .sectionTwo__banner-circle {
    width: 100px;
    height: 100px;
    right: -11px;
    top: -120px;
    h5 {
      font-size: 22px;
    }
    .circle-text {
      padding: 10px 0 0 25px;
    }
  }
}

@media (max-width: 479px) {
  .sectionTwo__banner {
    bottom: 90px;
    .px-5{
      padding-right: 0rem!important;
      padding-left: 0rem!important;
    }
  }
  .sectionTwo__banner-circle {
    right: 5px;;
  }
}
