.sec4-main{
    background: #EBEFF9;
    padding: 90px 0 50px 0;
}
.sec4-main h3{
    font-size: 40px;
    color: #1E3282;
}
.sec4-main h5{
    font-size: 25px;
    color: #1E3282;
}
.sec4-main p{
    font-size: 20px;
    color: #1E3282;
}
.bottom-area {
    padding: 0 20px;
    border-radius: 10px;
}
.bottom-area h5{
    font-size: 25px;
    position: relative;
    bottom: 7px;
}
.bottom-area h4{
    font-size: 40px;
    color: #1E3282;
    margin: 0;
}
.bottom-area .row{
    align-items: center;
}
.bottom-area a{
    background: #45b491;
    padding: 10px 10px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
}


.card-price {
	display: inline-block;
    bottom: 25px;
    width: 110px;
	height: 38px;
	background-color: #fff;
	border-radius: 5px;
	border-left: 1px solid #fff;
	/* This makes room for the triangle */
	margin-left: 19px;
	position: relative;

	color: red;
    font-size: 18px;
	font-weight: 300;
	line-height: 38px;

	padding: 0 10px 0 10px;
}

/* Makes the triangle */
.card-price:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
    top: 5px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	border-right: 19px solid #fff;
}
.card-price2{
    background: red !important;
    color: #fff !important;
}
.card-price2:before {

    border-right: 19px solid red !important;
}



@media (max-width: 479px) {
    .sec4-main h5{
        font-size: 14px;
    }
    .sec4-main p{
        display: none;
    }
    .b-para{
        display: block !important;
        font-size: 14px !important;
    }

    .bottom-area h4{
        font-size: 28px;
        padding-bottom: 5px;
    }
    .sec-b{
        text-align: center;
    }

}

@media (max-width: 1199px) {
  .bottom-area a{
    display: none !important;
  }
}
