.sectionFour{
  background-color: #EBEFF9;
  padding: 90px 0 50px 0;
  h3{
    font-size: 40px;
    color: #1E3282;
  }
  h5{
    font-size: 25px;
    color: #1E3282;
  }
  p{
    font-size: 20px;
    color: #1E3282;
  }
}
.sectionFour__banner {
  padding: 0 20px;
  border-radius: 10px;
  h5{
    font-size: 25px;
    position: relative;
    bottom: 7px;
  }
  h4{
    font-size: 40px;
    color: #1E3282;
    margin: 0;
  }
  .row{
    align-items: center;
  }
  a{
    background: #45b491;
    padding: 10px 10px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
  }
}
.sectionFour__priceTag {
	display: inline-block;
  bottom: 25px;
  width: 110px;
	height: 38px;
	background-color: #fff;
	border-radius: 5px;
	border-left: 1px solid #fff;
	/* This makes room for the triangle */
	margin-left: 19px;
	position: relative;
	color: red;
  font-size: 18px;
	font-weight: 300;
	line-height: 38px;
	padding: 0 10px 0 10px;
  /* Makes the triangle */
  &:before {
    content: "";
    position: absolute;
    display: block;
    left: -19px;
    top: 5px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 19px solid #fff;
  }
}

.sectionFour__priceTag-red{
  background: red !important;
  color: #fff !important;
  &:before {
    border-right: 19px solid red !important;
  }
}

@media (max-width: 479px) {
  .sectionFour {
    h5{
      font-size: 14px;
    }
    p{
      display: none;
    }
  }
  .sectionFour__banner {
    h4{
      font-size: 28px;
      padding-bottom: 5px;
    }
    p{
      display: block !important;
      font-size: 14px !important;
    }
    .sectionFour__banner-price{
      text-align: center;
    }
  }
}

@media (max-width: 1199px) {
  .sectionFour__banner{
    a{
      display: none !important;
    }
  }
}
