<div class="sectionFour">
    <div class="text-center pb-4">
      <h3>
          Kostet nicht die Welt. Aber schützt Deine.
      </h3>
    </div>
    <div class="container">
      <!-- top area -->
      <div class="row text-center pb-4">
          <div class="col-md-6 col-sm-6 col-6">
              <h5>
                  Woran Du vielleicht denkst
              </h5>
              <p>
                  (kleine Schäden)
              </p>
              <div>
                  <img src="../../assets/images/img-5.png" alt="">
                  <div class="sectionFour__priceTag">- 1.000 €</div>
              </div>

              <h6>
                  Abgesichert!
              </h6>
          </div>
          <div class="col-md-6 col-sm-6 col-4">
              <h5>
                  Woran Du vielleicht nicht denkst
              </h5>
              <p>
                  (große Schäden)
              </p>
              <img src="../../assets/images/img-6.png" alt="">
              <div class="sectionFour__priceTag sectionFour__priceTag-red">- 10 Mio. €</div>
              <h6>
                  Auch abgesichert!
              </h6>
          </div>
      </div>
      <!-- top area -->


      <!-- bottom area -->
      <div class="sectionFour__banner bg-white">
          <div class="row">
              <div class="col-sm-6 col-8">
                  <p>Unsere Kunden zahlen im Schnitt:</p>
              </div>
              <div class="col-sm-3 col-4 sectionFour__banner-price">
                  <h4>
                      4,14 €
                  </h4>
                  <h5>
                      pro Monat
                  </h5>
              </div>
              <div class="col-sm-3 col-4">
                  <a>
                      Meinen Preis berechnen
                  </a>
              </div>
          </div>
      </div>
      <!-- bottom area -->
    </div>
</div>


