<!-- Services-->
<section class="sec-main" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">
            Schnell. Flexibel. Sicher.
        </h2>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <img src="../../assets/images/img-2.png" alt="img">
                    <h3 class="h4 mb-2">3 Min.</h3>
                    <p class="sec3-para mb-0">
                        Schneller als eine Fünf-Minuten-Terrine: Hier schließt Du 
                        Deinen Vertrag in nur 3 Minuten online ab.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <img src="../../assets/images/img-3.png" alt="img">
                    <h3 class="h4 mb-2">Jährlich kündbar</h3>
                    <p class="sec3-para mb-0">
                        Transparente und flexible 
                        Vertragslaufzeiten: Deine PHV kannst 
                        Du bei uns jedes Jahr kündigen.

                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <img src="../../assets/images/img-4.png" alt="img">
                    <h3 class="h4 mb-2">0% Selbstbeteiligung</h3>
                    <p class="sec3-para mb-0">
                        Keine versteckten Kosten: keine Eigenleistung
                         bis zur maximalen Deckungssumme.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

