.sec-main{
    padding: 60px 0 70px 0;
    
}
.services-col{
    border: 5px solid #EBEFF9;
    border-radius: 10px;
    cursor: pointer;
}
.services-col:hover h3{
    font-weight: 500;
    color: #707070 !important;
}
.services-col:hover p{
    font-weight: 500;
    color: #707070 !important;
}
.sec-main h2{
    font-size: 40px;
    color: #1E3282;
}
.sec-main h3{
    font-size: 25px;
    color: #1E3282;

}
.sec-main .sec3-para{
    font-size: 20px;
    color: #1E3282;
    line-height: 25px;
}


@media (max-width: 479px) {
    .sec-main h2{
        font-size: 20px;
    }
    .services-col{
        display: flex;
        align-items: center;
        grid-gap:5px;
        text-align: left;
        padding: 10px 10px 10px 0;
    }
    .services-col img{
        width: 80px;
    }
    .services-c{
        padding: 0;
    }
   
    .col-inner h4{
        font-size: 18px;
    }
    .col-inner .sec3-para{
        font-size: 14px;
        line-height: 15px;
    }
    .sec-main h2.pb-5{
        padding-bottom: 1rem !important;
    }
    /* .sec-main h2.pb-5{
        padding-top: 2rem !important;
    } */
    .sec-main {
        padding: 0 0 70px 0;
    }
}